body {
  text-align: center;
  font-family: "Helvetica", sans-serif;
}

.header, h3.seperator {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}

.header h1 {
  font-size: 70px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

h3 ~ p {
  font-size: 14px;
}

/* anchors are white and 18 pixels on this page */
a {
  font-size: 18px;
  color: white;
}

.footer {
  font-size: 11px;
  text-align: left;
  color: white;
  background-color: dimgray;
}
